@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration: none; color:inherit;}
.clearfix::after{/*클리어픽스핵*/
  content:"";
  display:block;
  clear:both;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.wrap{
  width:1300px;
  margin:auto;
  box-sizing:border-box;
}