#audition{
  width:1100px;
  margin:auto;
}
.explain{
  width:1100px;
  font-size: 14px;
  line-height: 15px;
}
h1{
  font-size: 40px;
  font-weight: bold;
  margin-top:25px;
  margin-bottom:20px;
  line-height: 60px;
  border-bottom: 3px solid #111;
}
.explain span{
  font-size: 20px;
  margin-right:10px;
  font-weight: bold;
}
.explain> p{
margin-top:20px;
letter-spacing: 0.1px;
line-height: 25px;
margin-bottom:30px;
}
.line{
  width:880px;
  border-bottom: 3px solid #111;
  float: right;
}
.emailBox1{
  width:880px;
  margin-left:220px ;
  padding:0 10px;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  font-size:16px;
}
.emailBox2{
  width:880px;
  margin-left:220px ;
  padding:0 10px;
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  font-size:16px;
}
.audition{
  width:250px;
  height:45px;
  border:1px solid #999;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin:10px 50px 50px 0;
}
.online{
  margin-top:5px;
}

/*온라인지원전체영역*/
.contain{
  width:880px;
  box-sizing: border-box;
  margin-left:220px;
  font-size:16px;
}
.contain table{
  width:100%;
}
.contain td:nth-child(1){
  width:220px;
  padding:0 0 10px 10px;
}
.contain td:nth-child(2){
  width:650px;
  padding-bottom:10px;
}
.contain tr:nth-child(6) td:nth-child(1){
  vertical-align: top;
}
/*국적*/
#country{
  width:180px;
  height:40px;
  font-size:16px;
}
/*이름*/
input[type=text]{
  width:640px;
  height:40px;
}
/*성별*/
.man, .woman{
  width:90px;
  height:40px;
  cursor: pointer;
}
/*사진/동영상첨부*/
input[type=file]{
  width:200px;
  height:30px;
  font-size: 14px;
  cursor: pointer;
}
.contain tr:nth-child(5) span{
  font-size: 12px;
}
/*개인정보동의*/
#subject{
  width:640px;
  height:340px;
  font-size:12px;
  line-height: 15px;
}
.btn> span{
  font-size: 16px;
  font-weight: bold;
  margin-left:350px;
}
.agree, .disagree{
  width:90px;
  height:30px;
  right: 0;
  cursor:pointer;
}
.agree{
  margin-left:45px;
}
.bottomline{
  width:880px;
  margin-top:30px;
  border-bottom: 3px solid #999;
  float: left;
  z-index: 1;
}

/*전송*/
input[type=submit],
input[type=reset]{
  width:200px;
  height:40px;
  background-color: #f5f5f5;
  color:#333;
  font-size: 16px;
  cursor:pointer;
  margin:50px 0;
}
input[type=submit]{
  margin-left:230px;
  margin-right:10px;
}
input[type=submit]:hover,
input[type=reset]:hover{
  background-color:#111;
  color:#fff;
  font-weight: bold;
}